<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>

  <!-- add the material design fonts -->
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
